.footer {
  background-color: black;
  color: #EEEEEE;

  .container {
    border-bottom: 1px solid #EEEEEE;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .copyrigth {
    text-align: center;
    color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
  }
}

.footer-modo-movil {
  padding: 10px;
  mat-expansion-panel {
    background-color: black;
    color: #FFFFFF;
    border-bottom: #FFFFFF 1px solid;
  }

  display: none;
  @media (max-width:767px) {
    display: block;
  }

  h2 {
    margin-left: -37px;
  }

  .imagenes-seguir {
    margin-left: 30px;
    font-size: 19px;
    font-weight: 500;
    margin-top: 10px;
  }
}

.footer-modo-we {
  @media (max-width:767px) {
    display: none;
  }

}

.red-sociales {
  display: flex;
  img {
    cursor: pointer;
  }

  img:hover {
    opacity: 0.5;
  }
}


