




<div class="footer footer-modo-movil">
  <div class="separador">

    <div class="container ">
      <div class="row titulo-footer">
        <div class="col-12 col-sm-6 col-lg-3">
          <mat-expansion-panel class="cupones-descuento">
            <mat-expansion-panel-header>
              <div class="politicas">
                <ul>
                  <h2>POLÍTICAS</h2>
                </ul>
              </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <div class="politicas">

                <ul>
                  <li>
                    Políticas de privacidad
                  </li>
                  <li>
                    Políticas de cambio
                  </li>
                  <li>
                    Políticas de envío
                  </li>
                  <li>
                    Términos y condiciones
                  </li>
                  <li>
                    Responsabilidad social
                  </li>
                </ul>
              </div>
            </ng-template>
          </mat-expansion-panel>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <mat-expansion-panel class="cupones-descuento">
            <mat-expansion-panel-header>
              <div class="sobre-nosotros">
                <ul>
                  <h2>SOBRE NOSOTROS</h2>
                </ul>
              </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <div class="sobre-nosotros">

                <ul>
                  <li>
                    Encuentra tu tienda
                  </li>
                  <li>
                    Contáctanos
                  </li>
                  <li>
                    Trabaja con nosotros
                  </li>
                </ul>
              </div>
            </ng-template>
          </mat-expansion-panel>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <mat-expansion-panel class="cupones-descuento">
            <mat-expansion-panel-header>

              <div class="sobre-nosotros">
                <ul>
                  <h2>MEDIOS DE PAGO</h2>
                </ul>
              </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
            </ng-template>
          </mat-expansion-panel>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">

          <div class="sobre-nosotros imagenes-seguir">
            <span>SÍGUENOS EN:</span>
            <div class="red-sociales">
              <div>
                <img src="assets/iconos/f.png" alt="">
              </div>
              <div>
                <img src="assets/iconos/t.png" alt="">
              </div>
              <div>
                <img src="assets/iconos/i.png" alt="">
              </div>
              <div>
                <img src="assets/iconos/y.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrigth">
    <p>© Copyright Colombia. Todos los derechos reservados</p>
  </div>

</div>



<div class="footer footer-modo-we">
  <div class="separador">

    <div class="container ">
      <div class="row clase-contenedor-web">
        <div class="col-12 col-ms-6 col-lg-4">
          <div class="politicas">
            <ul>
              <h2>POLÍTICAS</h2>
            </ul>

            <ul>
              <li>
                Políticas de privacidad
              </li>
              <li>
                Políticas de cambio
              </li>
              <li>
                Políticas de envío
              </li>
              <li>
                Términos y condiciones
              </li>
              <li>
                Responsabilidad social
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-ms-6 col-lg-4">
          <div class="sobre-nosotros">
            <ul>
              <h2>SOBRE NOSOTROS</h2>
            </ul>

            <ul>
              <li>
                Encuentra tu tienda
              </li>
              <li>
                Contáctanos
              </li>
              <li>
                Trabaja con nosotros
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-ms-6 col-lg-4">
          <div class="siguenos">
            <ul>
              <h2>SÍGUENOS EN: </h2>
            </ul>
            <div class="red-sociales">
              <div>
                <img src="assets/iconos/f.png" alt="">
              </div>
              <div>
                <img src="assets/iconos/t.png" alt="">
              </div>
              <div>
                <img src="assets/iconos/i.png" alt="">
              </div>
              <div>
                <img src="assets/iconos/y.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrigth">
    <p>© Copyright Colombia. Todos los derechos reservados</p>
  </div>

</div>
