.contenedor-formulario {
  .titulo-modal {
    border-bottom: 1px solid #EEEEEE;
    p {
      font-size: 30px;
      @media (max-width:767px) {
        font-size: 15px;
      }
    }
  }
.contenedor-columnas {
    margin-top: 10px;
  .contenedor-imagen-columna {
    border-right: 1px solid #EEEEEE;
    .contenedor-imagen {
      height: 300px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .nombre-producto-columna {
    border-right: 1px solid #EEEEEE;
     p {
       font-size: 17px;
       font-weight: 500;
       color: #6B6B6B;
    }
  }

  .contenedor-precio {
    .precio-inicial {
      letter-spacing: 0px;
      opacity: 1;
      text-align: left;
      font-size: 19px;
      text-decoration: line-through;
      color: #6B6B6B;
    }
    .precio-final {
      font-weight: 500;
      color: #6B6B6B;
      color: #ff4081;
    }

    .valor-precio-final {
      letter-spacing: 0px;
      color: #5B17AA;
      opacity: 1;
      text-align: left;
      font-weight: 700;
      font-size: 19px;
    }
  }
  .accion-producto-columna {}
}


  .contenedor-cantidad {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    input {
      width: 80px;
      text-align: center;
    }
    .boton-menos {
      color: #db9825 !important;
      margin-right: 5px !important;
    }
    .boton-mas {
      color: #50be8b !important;
      margin-left: 2px !important;
      text-align: left;
    }
    mat-icon {
      font-size: 35px;
    }
  }


  .clase-pagar-agregar {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 8px;

  }

  .card-clase-pagar-agregar {
    margin-top: 5px;
    position: relative;
  }

  .clase-agregar {
    margin-top: 5px;
    padding-left: 8px;
    button {
      border: none !important;
      background-color:  #ffcc80 !important;
      color: black;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }
  }

  .clase-pagar ,.clase-agregar{
    margin-top: 20px;
    margin-bottom: 20px;
    button {
      transition: 0.3s;
      width: 100%;
      height: 45px;
      border-radius: 40px;
    }
    button:hover {
      width: 99%;
    }
  }
  .clase-pagar-agregar {
    margin-top: 5px;
  }

  .clase-pagar {
    margin-top: 5px;

    button {
      background-color:  #fff176 !important;
      color: black;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }

  }
}

.clase-pagar-agregar {
    mat-icon {
      color: #5B17AA;
    }
}

.boton-close {
  position: absolute;
  top: -18px;
  right: -1px;
  margin: 17px;
}



