<button mat-icon-button color="warn" class="boton-close" (click)="onNoClick()"
        aria-label="Example icon button with a heart icon">
  <mat-icon>cancele</mat-icon>
</button>

<div class="contenedor-formulario">
<div class="titulo-modal">
  <p>agrega tu producto al carrito de compra</p>
</div>
  <div class="row contenedor-columnas">
    <div class="col-12 col-ms-8 col-lg-4 contenedor-imagen-columna">
      <div class="contenedor-imagen">
        <img [src]="infor['data']['thumbnail']" alt="">
      </div>
    </div>
    <div class="col-12 col-ms-8 col-lg-4 nombre-producto-columna">
      <p>{{infor['data']['title']}}</p>

      <div class="contenedor-precio">
          <p class="precio-inicial">{{infor['data']['original_price']  | currency}}</p>
          <p class="precio-final">{{infor['data']['price']  | currency}}</p>

        <p class="cantidad-producto">Cantidad {{ selectCantidad}}</p>
        <p class="valor-precio-final">{{infor['data']['price'] * selectCantidad | currency}}</p>

      </div>


    </div>
    <div class="col-12 col-ms-8 col-lg-4 accion-producto-columna">

      <div class="row">
        <div class="col-12">
          <div class="contenedor-cantidad">

            <button mat-icon-button color="warn" class="boton-menos"
                    (click)="manipularCantidad(false)"
                    aria-label="Example icon button with a heart icon">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>

            <div class="input-group">
              <input
                [(ngModel)]="selectCantidad" class="form-control"
                disabled name="registrarUsuarios.password"
                type="text"/>
            </div>

            <button mat-icon-button color="warn" class="boton-mas"
                    (click)="manipularCantidad(true)"
                    aria-label="Example icon button with a heart icon">
              <mat-icon>add_circle_outline</mat-icon>
            </button>

          </div>
        </div>
      </div>

      <div class=" clase-pagar-agregar">
        <div class="clase-pagar">
          <button mat-raised-button color="primary"
                  (click)="agregarProductoAlCarrito()"
          >
            <mat-icon>shopping_cart</mat-icon>
            Continuar</button>
        </div>

        <div class="clase-agregar">
          <button mat-stroked-button color="primary"
                  >
            <mat-icon>favorite</mat-icon>
            Agregar a favorito
          </button>
        </div>

      </div>

    </div>
  </div>
</div>

