<div class=" contenedor-slider">
  <div class="slider-principal">


    <div id="demo" class="carousel slide" data-ride="carousel">

      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/slider/Grupo%20107.png" class="d-block w-100" alt="Primera image">
        </div>
        <div class="carousel-item">
          <img src="assets/img/slider/banner-principal-desktop@2x.png" class="d-block w-100" alt="Segunda image">
        </div>
        <div class="carousel-item">
          <img src="assets/img/slider/Grupo%20107.png" class="d-block w-100" alt="Tercer image">
        </div>
      </div>

      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <img src="assets/carrusel/Trazado%2019.svg" alt="">
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <img src="assets/carrusel/Grupo%2046.svg" alt="">
      </a>

    </div>
  </div>


  <div>
    <div class="row imagenes-publicidad">
      <div class="col-12 col-ms-6 col-lg-6">
        <div class="imagen-derech">
          <img src="assets/img/categorias/categorias-destacadas-moda-infantil.png" alt="">
        </div>
      </div>
      <div class="col-12 col-ms-6 col-lg-6">
        <div class="imagen-izquierda">
          <img src="assets/img/categorias/categorias-destacadas-proteccion.png" alt="">
        </div>
      </div>
    </div>

  </div>


  <div class="productos-mas-buscados">
    <p>PRODUCTOS MÁS BUSCADOS</p>
  </div>

  <div class="container">
    <app-carrusel-home></app-carrusel-home>
  </div>


</div>
