.row {
  margin-right: 0 !important;
  margin-left:  0 !important;
}

.contenedor-slider {
  margin-bottom: 25px;
}

.imagen-derech {
  margin-left: 10px;
  @media (max-width:767px) {
    margin-left: 0px !important;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
  }
}
.imagen-izquierda {
  margin-right: 10px;
  @media (max-width:767px) {
    margin-right: 0px !important;
  }

   img {
     width: 100%;
   }

 }

.productos-mas-buscados {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  p {
    font-size: 25px;
    font-weight: 600;
  }
}

.carousel-indicators {
  li {
    width: 25px !important;
    height: 25px !important;
    border-radius: 25px !important;
  }
}

.imagenes-publicidad {
  margin-top: 30px;
}
