
<div class="container">
  <div class="row contsndor-productos" >
    <div class="col-12 col-ms-6 col-lg-3 " *ngFor="let item of listadoProductos" >
      <mat-card class="tarjeta"  >

        <mat-card-content>
          <div class="image-producto">
            <img [src]="item['thumbnail']" alt="">
          </div>
          <div class="descuentos-container" *ngIf="item['original_price']">{{valorDescuento(item['original_price'], item['price']) | number : '1.0-1'}}%</div>
        </mat-card-content>

        <mat-card-actions>
        <div class="contenedor-tiutle">
          <p>{{item['title']}}</p>
        </div>
          <div class="row precios-producto">
            <div class="col-6">
              <span class="precio-final">{{item['price'] | currency}}</span>
            </div>
            <div class="col-6">
              <span class="precio-original" *ngIf="item['original_price']">{{item['original_price'] | currency}}</span>
            </div>
          </div>

          <div class="contenedor-boton">
            <button mat-flat-button  color="primary" (click)="cargarModalUsuarioLogin(item)">
              <mat-icon>shopping_cart</mat-icon>
              Agregar al carrito
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
