.contsndor-productos {
    margin-top: 30px;
  .contenedor-boton {
    text-align: center;

    button {
      width: 100%;
      background-color: black;
      color: #FFFFFF;
    }
  }

  @media (max-width:767px) {
   mat-card {
     margin-bottom: 21px;
   }
  }

  .mat-card {
    margin-bottom: 30px;

    .image-producto {
      height: 300px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .contenedor-tiutle {
      padding-left: 12px;
    }
    .precios-producto {
      margin-bottom: 5px;
      text-align: center;
      justify-content: center;
    }
    .precio-final {
      letter-spacing: 0px;
      color: #5B17AA;
      opacity: 1;
      text-align: left;
      font-weight: 700;
      font-size: 19px;
    }
    .precio-original {
      letter-spacing: 0px;
      opacity: 1;
      text-align: left;
      font-size: 19px;
      text-decoration: line-through;
      color: #6B6B6B;
    }
    .contenedor-tiutle {
      top: 709px;
      left: 1029px;
      height: 55px;
      text-align: left;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
    }

  }

  .mat-card-actions {
    background: #F4F4F4 0% 0% no-repeat padding-box;

  }
}
.descuentos-container {
  position: absolute;
  cursor: pointer;
  transition: .3s;
  //right: -45px;
  top: calc(-13% - -70px);
  background: #5B17AA 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  opacity: 1;
  font-size: 15px;
  height: 25px;
  width: 60px;
  z-index: 1;
  text-align: center;
}
