.contenedor-total {
  margin-top: 28px;
}
.contener-login-social {
  display: flex;
  margin-bottom: 15px;
  .contenedor-facebook {
    width: 100%;
    margin-right: 5px;
    img {
      height: 30px;
    }
    button {
      width: 100%;
      background-color: #3b5998;
      color: #FFFFFF;
    }
  }

  .contenedor-google {
    width: 100%;
    margin-left: 5px;
    img {
      height: 30px;
    }
    button {
      width: 100%;
      background-color: #ea4335;
      color: #FFFFFF;
    }
  }
}

.contenedor-separador {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  .hr-left {
    width: 100%;
  }

  .hr-right {
    width: 100%;
  }

}

.campo-correo {
  margin-bottom: 10px;
}
.campo-clave {
  margin-top: 5px;
}

.clase-iniciar-ahora {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  button {
    width: 100%;
  }
}

.clase-iniciar-ahora {
  width: 100%;


  .clase-ingresar {

    text-align: center;
  }
}

.otras-opciones {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: baseline;
  cursor: pointer;
  p {
    font-size: 15px;
    text-align: center;
  }

  p:hover {
    color: #ff9030;
  }

  .el-separador {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.clase-ingresar {
  button {
    background-color: #000000;
    color: #FFFFFF;
  }
}

.boton-close {
  position: absolute;
  top: -18px;
  right: -1px;
  margin: 17px;
}
.form-control:focus {
  color: #424242;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: unset;
}


.input-group-append {
  button {
    background-color: #5B17AA !important;
    color: #FFFFFF;
  }
  button {
    height: 38px;
  }
}
.separador-inicio {
  width: 100%;
  height: 2px;
  border-top: 1px solid #EEEEEE;
  margin-top: 5px;
  margin-bottom: 5px;
}
