<button mat-icon-button color="warn" class="boton-close" (click)="onNoClick()"
        aria-label="Example icon button with a heart icon">
  <mat-icon>cancele</mat-icon>
</button>

<div class="contenedor-total">

  <div class="row centrar-mi-login" *ngIf="condicion === 1">

    <div class="col-md-6">
      <div class="contener-login-social">
        <div class="contenedor-facebook">
          <button mat-raised-button color="primary" (click)="signInWithFB()">
            <i class="fa fa-facebook"></i>
            <span> Ingresar con Facebook</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="contener-login-social">
        <div class="contenedor-google">
          <button mat-raised-button color="primary" (click)="signInWithGoogle()">
            <i class="fa fa-google" aria-hidden="true"></i>
            <span> Ingresar con Google</span>
          </button>
        </div>
      </div>
    </div>

    <div class="separador-inicio"></div>

    <div class="col-12  campo-correo">
      <div class="input-group">
        <input
          name="registrarUsuarios.email"
          type="text"
          class="form-control"
          ngDefaultControl
          placeholder="Correo electronico">
        <div class="input-group-append">
          <button  mat-raised-button color="primary" type="button">
            <span class="material-icons">mail_outline</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-12  campo-correo">
      <div class="input-group">
        <input
          name="registrarUsuarios.password"
          type="{{ showPassword ? 'text' : 'password' }}"
          class="form-control"
          placeholder="Ingresar Contraseña"/>
        <div class="input-group-append">
          <button  mat-raised-button color="primary" type="button" (click)="showPassword = !showPassword"
                   [title]="showPassword ? 'Hide password' : 'Show password'">
            <span class="material-icons" *ngIf="!showPassword">lock</span>
            <span class="material-icons" *ngIf="showPassword">lock_open</span>
          </button>
        </div>
      </div>
    </div>

    <br/>

    <div class="col-12  campo-correo">
      <div class="input-group">
        <input
          name="confirmarClave"
          type="{{ showPassword ? 'text' : 'password' }}"
          ngDefaultControl
          class="form-control"
          placeholder="Confirmar Contraseña"/>
        <div class="input-group-append">
          <button  mat-raised-button color="primary" type="button" (click)="showPassword = !showPassword"
                   [title]="showPassword ? 'Hide password' : 'Show password'">
            <span class="material-icons" *ngIf="!showPassword">lock</span>
            <span class="material-icons" *ngIf="showPassword">lock_open</span>
          </button>
        </div>
      </div>
    </div>


    <div class="clase-iniciar-ahora">
      <div class="clase-ingresar">
        <button mat-raised-button color="primary" (click)="crearUsuario()">Registrarse</button>
      </div>
    </div>


    <hr>

    <div class="otras-opciones">
      <div class="crear-nuevo-usuario">
        <p (click)="cambiarFormulario(2)">Ingresar</p>
      </div>
      <div class="el-separador">|</div>
      <div class="recuperar-clave">
        <p (click)="cambiarFormulario(3)">Olvide mi contraseña</p>
      </div>
    </div>

  </div>

  <div class="row centrar-mi-login" *ngIf="condicion === 2">

    <div class="col-md-6">
      <div class="contener-login-social">
        <div class="contenedor-facebook">
          <button mat-raised-button color="primary" (click)="signInWithFB()">
            <i class="fa fa-facebook"></i>
            <span> Ingresar con Facebook</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="contener-login-social">
        <div class="contenedor-google">
          <button mat-raised-button color="primary" (click)="signInWithGoogle()">
            <i class="fa fa-google" aria-hidden="true"></i>
            <span> Ingresar con Google</span>
          </button>
        </div>
      </div>
    </div>

    <div class="separador-inicio"></div>

    <div class="col-md-12 campo-correo">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          ngDefaultControl
          placeholder="Correo electronico">
        <div class="input-group-append">
          <button  mat-raised-button color="primary" type="button">
            <span class="material-icons">mail_outline</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12 campo-clave">
      <div class="input-group">
        <input

          type="{{ showPassword ? 'text' : 'password' }}"
          class="form-control"
          placeholder="Ingresar Contraseña"/>
        <div class="input-group-append">
          <button  mat-raised-button color="primary" type="button" (click)="showPassword = !showPassword"
                   [title]="showPassword ? 'Hide password' : 'Show password'">
            <span class="material-icons" *ngIf="!showPassword">lock</span>
            <span class="material-icons" *ngIf="showPassword">lock_open</span>
          </button>
        </div>
      </div>
    </div>


    <div class="clase-iniciar-ahora">
      <div class="clase-ingresar">
        <button mat-raised-button color="primary" (click)="autenticarse()">Iniciar sesión</button>
      </div>
    </div>

    <hr>

    <div class="otras-opciones">
      <div class="crear-nuevo-usuario">
        <p (click)="cambiarFormulario(1)">Aun no tengo un usuario</p>
      </div>
      <div class="el-separador">|</div>
      <div class="recuperar-clave">
        <p (click)="cambiarFormulario(3)">Olvide mi contraseña</p>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="condicion === 3">

    <div class="col-md-6">
      <div class="contener-login-social">
        <div class="contenedor-facebook">
          <button mat-raised-button color="primary" (click)="signInWithFB()">
            <i class="fa fa-facebook"></i>
            <span> Ingresar con Facebook</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="contener-login-social">
        <div class="contenedor-google">
          <button mat-raised-button color="primary" (click)="signInWithGoogle()">
            <i class="fa fa-google" aria-hidden="true"></i>
            <span> Ingresar con Google</span>
          </button>
        </div>
      </div>
    </div>

    <div class="separador-inicio"></div>

    <div class="col-12 input-correo">
      <div class="input-group">
        <input
          name="registrarUsuarios.email"
          type="text"
          class="form-control"
          ngDefaultControl
          placeholder="Correo electronico">
        <div class="input-group-append">
          <button  mat-raised-button color="primary" type="button">
          <span class="material-icons">mail_outline</span>
          </button>
        </div>
      </div>
    </div>

    <div class="clase-iniciar-ahora">
      <div class=" clase-ingresar">
        <button mat-raised-button color="primary">Iniciar sesión</button>
      </div>
    </div>

    <hr>

    <div class="otras-opciones">
      <div class="crear-nuevo-usuario">
        <p (click)="cambiarFormulario(2)">Ingresa</p>
      </div>
      <div class="el-separador">|</div>
      <div class="recuperar-clave">
        <p (click)="cambiarFormulario(1)">Aun no tengo un usuario</p>
      </div>
    </div>

  </div>


</div>
