.contenedor-carrito {
  margin-top: 15px;
  margin-bottom: 40px;
  .item-productos {
  //  height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 8px;

    .item-productos:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    }

    .border-imagen {
      border-right: 2px solid #EEEEEE;
      .contenedor-imagen {
        width: 125px;
        height: 120px;
        img {
          width: 100%;
          height: 120px;
        };
      }
    }

  }



  .contenedor-cantidad {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    align-items: center;

    @media (max-width:767px) {
      margin-top:  0px !important;
      margin-bottom: 0px !important;
      display: block !important;
      text-align: center;
      align-items: center;
    }

    input {
      width: 80px;
      text-align: center;
    }
    .boton-menos {
      color: #db9825 !important;
   //   margin-right: 5px !important;
      margin-right: 5px;
    }
    .boton-mas {
      color: #50be8b !important;
      margin-left: 2px !important;
      text-align: left;
    }
    mat-icon {
      font-size: 35px;
    }
  }


  .contenedor-nombre-producto {
    border-right: 2px solid #EEEEEE;
    .subtitle-prod {
      text-align: left;
      justify-content: center;
      font-size: 19px;
      font-weight: 500;
      color: #8e8686;
    }
  }

  .contenedor-precio-producto {
    border-right: 2px solid #EEEEEE;
    .price-prod {
      text-decoration: line-through;
      font-size: 17px;
      font-weight: 400;
      color: #8e8686;
    }

    .porcentaje-descunto {
      font-size: 17px;
      font-weight: 600;
    }

    .precio-final-prod {
      font-size: 19px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #5B17AA;
    }

  }

  .opcion-eliminar {
    .favoritos {
      //background-color: #e04136;
      background-color: black;
      height: 30px;
      width: 30px;
      position: absolute !important;
      bottom: 1% !important;
      right: 65px !important;

      @media (max-width:767px) {
        left: -150px !important;
        bottom: 0% !important;
      }

    }

    .favoritos {
      mat-icon {
        font-size: 20px !important;
        padding: 1px 0;
        display: inline-block;
        //line-height: 24px;
        margin-top: -24px;

      }
    }

  }


  .clase-pagar-agregar {
    margin-top: 5px;
    margin-bottom: 22px;
    .clase-pagar {
      margin-top: 5px;
      button {
        transition: 0.3s;
        width: 100%;
        height: 45px;
        border-radius: 40px;
      }
      button:hover {
        width: 99%;
      }
      button {
        background-color:  #fff176 !important;
        color: black;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
      }

    }
  }
  .proteccion-al-comprar, .titulo-pago {
    font-size: 19px;
    font-weight: 400;
    color: #8e8686;
  }

  #container_cards2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #container_cards2 .credit-card img {
    height: 24px;
  }

  .resumen-compra {
    font-size: 25px;
    font-weight: bold;
  }

  .contenedor-detalle {
    h3 {
      font-size: 25px;
      font-weight: bold;
    }
  }

  .total-numero {
    font-size: 19px;
    font-weight: 600;
    color: #5B17AA;
  }
  .total-letra {
    font-size: 20px;
    font-weight: 600;
    color: #8e8686;
  }
  .valor-cuotas {
    font-size: 19px;
    font-weight: 400;
    color: #ea2840;
  }
  .cuotas {
    font-size: 19px;
    font-weight: 400;
    color: #8e8686;
  }

}

.boton-close {
  position: absolute;
  top: -18px;
  right: -1px;
  margin: 17px;
}
