<div class="container">
  <div class="row contenedor-carrito">
    <div class="col-12 col-ms-8  col-lg-8">
      <div class="contenedor-detalle">
        <h3>Detalle del Carito de compra</h3>
        <div *ngIf="datosStorage.length > 0">
          <mat-card class="item-productos" *ngFor="let item of datosStorage;  let i = index ">
            <div class="row">
              <div class="col-6 col-ms- col-lg-3 border-imagen">
                <div class="contenedor-imagen">
                  <img [src]="item['producto_imagen']" alt="">
                </div>
              </div>
              <div class="col-6 col-ms-4 col-lg-3 contenedor-nombre-producto">
                <div class="">
                  <p class="subtitle-prod">{{item['producto_nombre']}}</p>
                </div>
              </div>
              <div class="col-6 col-ms-4 col-lg-3 contenedor-precio-producto">
                <p>
                <span class="price-prod"
                      *ngIf="item['producto_descuento']">{{item['producto_valor'] * item['producto_cantidad']  | currency}}</span><span
                  *ngIf="item['producto_descuento']" class="porcentaje-descunto">  {{item['producto_descuento'] | number : '1.0-1'}}
                  %</span>
                </p>
                <p>
                <span
                  class="precio-final-prod">{{item['producto_valortotal'] * item['producto_cantidad'] | currency}}</span>
                </p>
              </div>
              <div class="col-6 col-ms-4 col-lg-3">
                <div class="contenedor-cantidad">

                  <button mat-icon-button color="warn" class="boton-menos"
                          (click)="aumentarDisminuir(item, i, false)"
                          aria-label="Example icon button with a heart icon">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>

                  <div class="input-group">
                    <input
                      name="registrarUsuarios.password" disabled
                      type="text" [value]="item['producto_cantidad']"
                      class="form-control"/>
                  </div>

                  <button mat-icon-button color="warn" class="boton-mas"
                          (click)="aumentarDisminuir(item, i, true)"
                          aria-label="Example icon button with a heart icon">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>

                </div>

                <div class="eliminar-item">
                  <div class="opcion-eliminar">
                    <button mat-fab color="primary" class="favoritos"
                            aria-label="Example icon button with a delete icon"
                            (click)="eliminarProductodelCarrito(item, i) ">
                      <mat-icon>clear</mat-icon>
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </mat-card>
        </div>
      </div>

    </div>
    <div class="col-12 col-ms-4  col-lg-4">
      <h3 class="resumen-compra">Resumen  de la Compra</h3>
      <mat-card>
        <hr>

        <div class="row">
          <div class="col-6 columna-izquierda">
            <h4><span class="cantidad-unidades">({{valorCantidad}})</span></h4>
          </div>
          <div class="col-6 columna-derecha">
            <h4><span class="unidades">Unidades</span></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-6 columna-izquierda">
            <span class="material-icons iconos-tienda-info">local_shipping</span>
          </div>
          <div class="col-6 columna-derecha">
            <h4><span class="respuesta-envio">Gratis</span></h4>
          </div>
        </div>
        <hr>
        <div class="row cantidad-cuotas">
          <div class="col-6 columna-izquierda">
            <h4><span class="cuotas">36 pagos de</span></h4>
          </div>
          <div class="col-6 columna-derecha">
            <h4><span class="valor-cuotas">{{valorTotal / 36 | currency}}</span></h4>
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-5 columna-izquierda">
            <h4><span class="total-letra">TOTAL</span></h4>
          </div>
          <div class="col-7 columna-derecha">
            <h4><span class="total-numero ">{{valorTotal | currency}}</span></h4>
          </div>
        </div>


        <div class="row clase-pagar-agregar">
          <div class="col-12 clase-pagar" *ngIf="datosStorage.length > 0">
            <button mat-raised-button color="primary" (click)="continuarConLaCompra(2)">Continuar con la compra</button>
          </div>
        </div>

        <p class="titulo-pago">Medios de pagos:</p>

        <div id="container_cards2" class="mb-2">

          <img src="assets/metodos/new/images/png/otro/america.png" alt="">
          <img src="assets/metodos/new/images/png/otro/dci.png" alt="">
          <img src="assets/metodos/new/images/png/otro/master.png" alt="">
          <img src="assets/metodos/new/images/png/otro/visa.png" alt="">
          <img src="assets/metodos/new/images/png/otro/pse.svg" alt="">

        </div>


        <hr>
        <div class="row rastro-asesoria">
          <div class="col-5 columna-izquierda">
            <h4><span>Asesoría:</span></h4>
            <h4><span>Whatsapp:</span></h4>
          </div>
          <div class="col-7 columna-derecha">
            <h4><span>(1) 3333333333</span></h4>
            <h4><span>+57 3123456789</span></h4>
          </div>
        </div>

      </mat-card>

    </div>
  </div>

</div>
