
.ir-arriba {
  display:none;
  padding: 9px;
  // background: #3f51b5;
  //background-color: #373887  !important;
  background: #5B17AA 0% 0% no-repeat padding-box;
  font-size: 29px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 67px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.ir-arriba:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
