


.contenedor-principal {
  padding-bottom: 30px;
  height: 550px;
}


.container {
  overflow: hidden;
  height: 550px;
}

.container  .contenedor .div-repetir {
  width: calc(1288px / 4);
  @media (max-width:767px) {
    width: calc(1288px / 2) !important;
  }
  display: inline-block;
  text-align: center;
}

@media (max-width:767px) {
  .container  .contenedor .div-repetir {
    width: 100vw !important;
  }
}
.container .contenedor {
  width:  calc(20% * 100);
}

@media (max-width:575px) {
  .container .contenedor {
    width:  calc(100% * 100) !important;
  }
}

.flecha-derecha {
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
  right: -45px;
  top: calc(22% - -70px);
  color: #ff4081;
  font-size: 20px;
  background-color: transparent;
  height: 80px;
  border-radius: 24px;
  z-index: 1;


  @media (max-width:767px) {
    right: -6px;
  }
}


.flecha-derecha:hover {
  opacity: 1;
}

.flecha-izquierda {
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
  left: -34px;
  z-index: 1;
  top: calc(22% - -66px);
  color: #ff4081;
  font-size: 20px;
  background-color: transparent;
  height: 80px;
  border-radius: 24px;

  @media (max-width:767px) {
    left: -6px;
  }
}




.flecha-izquierda:hover {
  opacity: 1;
}

.disabled {
  cursor: none;
  pointer-events: none;
}
.disabled * {
  opacity: 0.5;
}

img {
  height: 100px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
img:hover {
  //height: 101px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.contenedor-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2C3394;
  font-family: 'Montserrat', sans-serif;
  height: 250px;
}
.contenedor-padre {
  position: relative;
  height: 570px;
}

.filtros-derecha {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  width: 215px;
  height: 190px;
  @media (max-width:767px) {
    margin-right: 121px;
  }
}

.descripcion-producto {

  @media (max-width:767px) {
    margin-right: 121px;
  }

}

.mas-vendidos {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.mas-vendidos:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.mas-vendidos-categorias {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.mas-vendidos-categorias:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.titulo-home {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
  margin-top: 17px;
}


.container {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  @media (max-width:767px) {
   // margin-left: -26px;
    margin-bottom: 1px;
    padding-bottom: 3px;
  }
}

.subtitle-prod {
  font-size: 11px;
  font-weight: 500;
  color: #8e8686;

}


.contenedor-imagenes {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


.mat-card-bloque {
  height: 320px;
}


.item-product {
  cursor: pointer;
}

.item-product:hover {
  //background-color: #f7f7f7;
  transition: 0.3s;
}

.mat-card-bloque {
  height: 262px;
  @media (max-width:767px) {
    width: 258px;
    margin-left: 23px;
  }

}


.content-product-filas-2, .content-product-filas, .content-img {
  outline: dotted 1px !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}

.content-img {
  height: 140px;
  img {
    width: 80% !important;
  }
}

.imagenes-carrusel {
  // width: 100% !important;
  margin-bottom: 3px;
}
.content-product {
  text-align: left !important;
}

.subtitle-prod {
  font-size: 16px;
  letter-spacing: 0.3px;
}

.subtitle-prod {
  font-size: 15px;
  font-weight: 400;
  color: #8e8686;
  margin-bottom: 4px;
  padding-bottom: 4px;
  //overflow: hidden;
  //white-space: nowrap;
  //text-overflow: ellipsis;
  border-bottom: 1px solid #eeeeee;
}

.price-prod {
  text-decoration: line-through;
  font-size: 17px;
  font-weight: 400;
  color: #8e8686;
  margin-bottom: 2px;

}
.descuneto-producto {
  margin-bottom: 3px !important;
  border-bottom: 1px solid #eeeeee;
}
.porcentaje-descunto {
  font-size: 17px;
  font-weight: 600;
}
.precio-final-prod {
  font-size: 19px;
  font-weight: 600;
  color: #ea2840;
}


i {
  font-size: 29px !important;
}

mat-card {
  //box-shadow: none !important;
}
.div-repetir {
  height: 350px;
}
.mat-card-bloque {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  height: 322px !important;
}

.mat-card-bloque:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%);
  height: 332px !important;
}


.opiniones-usuarios {
  margin-bottom: 8px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  border-top: 1px solid #eeeeee;
  // margin-top: 5px;
  text-align: center;
  align-items: flex-end;
  img {
    height: 15px;
  }
  span {
    font-size: 12px;
  }
}


.datos-carrusel-home {
  .contsndor-productos {
    margin-top: 30px;


  }
    .contenedor-boton {
      text-align: center;

      button {
        width: 100%;
        background-color: black;
        color: #FFFFFF;
      }
    }

    @media (max-width:767px) {
      mat-card {
        margin-bottom: 21px;
      }
    }

    .mat-card {
      margin-bottom: 30px;
      width: 290px;
      @media (max-width:767px) {
        width: 316px;
      }
      .image-producto {
        height: 300px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .contenedor-tiutle {
        padding-left: 12px;
        font-size: 15px;
        color: #000000;
      }
      .precios-producto {
        margin-bottom: 5px;
        text-align: center;
        justify-content: center;
      }
      .precio-final {
        letter-spacing: 0px;
        color: #5B17AA;
        opacity: 1;
        text-align: left;
        font-weight: 700;
        font-size: 19px;
      }
      .precio-original {
        letter-spacing: 0px;
        opacity: 1;
        text-align: left;
        font-size: 19px;
        text-decoration: line-through;
        color: #6B6B6B;
      }
      .contenedor-tiutle {
        top: 709px;
        left: 1029px;
        height: 55px;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }

    }

    .mat-card-actions {
      background: #F4F4F4 0% 0% no-repeat padding-box;

    }

  .descuentos-container {
    position: absolute;
    cursor: pointer;
    transition: .3s;
    //right: -45px;
    top: calc(-13% - -70px);
    background: #5B17AA 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    opacity: 1;
    font-size: 15px;
    height: 25px;
    width: 60px;
    z-index: 1;
    text-align: center;
  }

}
