


<div class="contenedor-padre" *ngIf="masVendidos">

  <img src="assets/carrusel/Trazado%2019.svg" alt=""  class="flecha-izquierda" (click)="pasarIzquierda()" [class.disabled]="deshabilitarIzquierda()">
  <div class="container" id="contenedor-principal">
    <div class="contenedor row">
      <div *ngFor="let item of masVendidos; let i = index" class="div-repetir datos-carrusel-home" [id]="'inde-detalle_'+i">

        <mat-card class="tarjeta"  >

          <mat-card-content>
            <div class="image-producto">
              <img [src]="item['thumbnail']" alt="" *ngIf="item && item['thumbnail']">
            </div>
            <div class="descuentos-container" *ngIf="item &&  item['original_price']">{{valorDescuento(item['original_price'], item['price']) | number : '1.0-1'}}%</div>
          </mat-card-content>

          <mat-card-actions>
            <div class="contenedor-tiutle">
              <p  *ngIf="item &&  item['title']">{{item['title']}}</p>
            </div>
            <div class="row precios-producto">
              <div class="col-6">
                <span class="precio-final" *ngIf="item &&  item['price']">{{item['price'] | currency}}</span>
              </div>
              <div class="col-6">
                <span class="precio-original" *ngIf="item &&  item['original_price']">{{item['original_price'] | currency}}</span>
              </div>
            </div>

            <div class="contenedor-boton">
              <button mat-flat-button  color="primary" (click)="cargarModalUsuarioLogin(item)">
                <mat-icon>shopping_cart</mat-icon>
                Agregar al carrito
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
  </div>

  <img src="assets/carrusel/Grupo%2046.svg" alt="" class="flecha-derecha" (click)="pasarDerecha()"  id="flechaDerecha" [class.disabled]="deshabilitarDerecha()">
</div>
