<mat-toolbar color="accent" class="sticky">

  <mat-toolbar-row class="w-auto" id="top-header-principal">

    <div class="logo boton-logo-header">
      <div routerLink="/">
        <span>CLOTHESSTORE</span>
      </div>
    </div>

    <div class="container contenedor-margin-header">
      <div class="d-flex flex-md-row ing5-items-content-header">

        <div class="ing5-box-buscador">
          <app-buscador></app-buscador>
        </div>

        <div class="botones-menu ing5-items-header">
          <button class="line-height-ini botones-derecha" mat-button fxLayoutAlign="end" (click)=" abrirCarritoCompra()" >
            <div class="div-amburguesa" >

              <mat-icon class="header-pedidos cantidad-favoritos"  [matBadge]="valorCantidad ? valorCantidad : 0">
                 <img src="assets/img/icons/icon-cart.svg" alt="" >
              </mat-icon>
              <span class="cantidad-producto" ></span>
            </div>
          </button>

          <button class="line-height-ini botones-derecha-mobil botones-derecha" mat-button fxLayoutAlign="end" >
            <div class="div-amburguesa">
              <img src="assets/img/icons/icon-user.svg" alt="">
            </div>
          </button>

          <button class="line-height-ini botones-derecha" mat-button fxLayoutAlign="end" (click)="continuarConLaCompra(2)">
            <span class="text-menu">Iniciar sesión</span>
          </button>
        </div>
      </div>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="w-auto" id="top-header-principal-mobil">

  <div class="posicionar-logo-menu-carrito-mobil" style="display: flex">
      <div class="posision-menu">

          <button   class="boton-menu-celulares" mat-button (click)="openNav()">
              <mat-icon class="cantidad-favoritos">menu</mat-icon>
          </button>
      </div>

      <div class="posision-logo-mobil"  routerLink="/">
        <span>CLOTHESSTORE</span>
      </div>


    <button class="line-height-ini botones-derecha posision-carrito-mobil" mat-button fxLayoutAlign="end" routerLink="/carrito-de-compra">
      <div class="div-amburguesa" >

        <mat-icon class="header-pedidos cantidad-favoritos"  [matBadge]="valorCantidad ? valorCantidad : 0">
          <img src="assets/img/icons/icon-cart.svg" alt="" >
        </mat-icon>
        <span class="cantidad-producto" ></span>
      </div>
    </button>

  </div>

    <div class="ing5-box-buscador">
      <app-buscador></app-buscador>
    </div>


  </mat-toolbar-row>

  <mat-toolbar-row class="w-auto" id="top-header-secundario">

    <div class="contenedor-menu">
      <div class="opciones-menu" [style]="'color:' + colorOpcionMenu1" (click)="listadoProductoTotal('MCO157289');verSesionConsultada(1)"><span>Hombre</span></div>
      <div class="opciones-menu" [style]="'color:' + colorOpcionMenu2" (click)="listadoProductoTotal('MCO157294');verSesionConsultada(2)"><span>Mujer</span></div>
      <div class="opciones-menu" [style]="'color:' + colorOpcionMenu3" (click)="listadoProductoTotal('MCO5607');verSesionConsultada(3)"><span>Junior</span></div>
      <div class="opciones-menu" [style]="'color:' + colorOpcionMenu4" (click)="listadoProductoTotal('MCO157283');verSesionConsultada(4)"><span>Niños</span></div>
      <div class="opciones-menu" [style]="'color:' + colorOpcionMenu5" (click)="listadoProductoTotal('MCO7407');verSesionConsultada(5)"><span>Accesorios</span></div>
      <div class="opciones-menu" [style]="'color:' + colorOpcionMenu6" (click)="listadoProductoTotal('MCO412060');verSesionConsultada(6)"><span>Ofertas</span></div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>



<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a  (click)="listadoProductoTotal('MCO157289'); closeNav()"><span>Hombre</span></a>
  <a  (click)="listadoProductoTotal('MCO157294'); closeNav()"><span>Mujer</span></a>
  <a  (click)="listadoProductoTotal('MCO5607');  closeNav()"><span>Junior</span></a>
  <a  (click)="listadoProductoTotal('MCO157283'); closeNav()"><span>Niños</span></a>
  <a  (click)="listadoProductoTotal('MCO7407'); closeNav()"><span>Accesorios</span></a>
  <a  (click)="listadoProductoTotal('MCO412060'); closeNav()"><span>Ofertas</span></a>
  <a class="iniciar-sesion-mobil" (click)="continuarConLaCompra(2); closeNav()"><span>Iniciar sesión</span></a>
</div>
