
.sticky {

  padding: 0px;
  width: 100%;
  top: 0px;
  z-index: 1002;

  #top-header-principal {
    top: -38px;
    left: 0px;
    //width: 1920px;
    height: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;

    .contenedor-superior-buscador {
      display: flex ;
      align-items: flex-end;
    }

    @media (max-width:767px) {
      display: none;
    }
  }


  #top-header-principal-mobil {
  display: none;
    top: -38px;
    left: 0px;
    //width: 1920px;
    height: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;

    .contenedor-superior-buscador {
      display: flex ;
      align-items: flex-end;
    }

    @media (max-width:767px) {
      display: block;
    }

    .posision-menu {
      margin-left: -23px;
    }

    .posision-logo-mobil {
      width: 267px;
      margin-top: 19px;
      font-size: 29px;
      img {
        width: 100%;
      }
    }

    .posision-carrito {
      margin-right: -15px;
    }

    .ing5-box-buscador {
      margin-top: -4px;
    }
  }

  .posision-menu {
    mat-icon {
      font-size: 42px;
    }
    margin-right:  10px;
  }

  .posision-carrito {
    mat-icon {
      font-size: 39px;
    }
  }

  #top-header-secundario {
    top: 139px;
    left: -7.5px;
    height: 100px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    justify-content: center;
    .contenedor-menu {
      display: flex;

      div {
        color: #FFFFFF;
        border-right: solid 1px #FFFFFF;
        padding-left: 16px;
        padding-right: 16px;
        cursor: pointer;
        span:hover {
          color: blueviolet;
        }
      }
      div:last-child {
        border-right: none !important;
      }
    }
    .opciones-menu {
      width: 150px;
    }
  }

  .ing5-items-content-header {
    margin-top: 38px;
  }

  @media (max-width:767px) {
    #top-header-secundario {
      display: none;
    }
  }

}

.ing5-box-buscador {
  width: 70%;
  //margin-top: 7px;

  @media (max-width:767px) {
    width: 100%;
  }
}

.botones-menu {
  button {
    margin-top: 15px;
  }
}

.posision-carrito-mobil {
  margin-top: 19px;
}

.boton-menu-celulares {
  margin-top: 8px;
}

.botones-derecha-mobil {
  margin-left: 18px !important;
}

.boton-logo-header {
  cursor: pointer;
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');  margin-top: 45px;
  span {
    font-size: 50px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-family: fantasy;
  }

  .posision-logo-mobil {
    margin-top: 19px;
    font-size: 29px;
  }
}

/*Menu Movil*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  font-weight: 600;
  display: block;
  transition: 0.3s;
  margin-bottom: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 13px;
  right: 25px;
  font-size: 70px;
  margin-left: 50px;
  color: #5B17AA;
  font-family: system-ui;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
