/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.carousel-slide {
  height: 500px !important;

}

button:focus {
  outline: dotted 1px !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}

mat-card:focus {
  outline: dotted 1px !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}

img:focus {
  outline: dotted 1px !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}
span:focus {
  outline: dotted 1px !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}

p:focus {
  outline: dotted 1px !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}

input:focus {
  outline: dotted 1px !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}
.carousel-item {
  height: 610px;
  @media (max-width:767px) {
      height: 200px;
    }
  img {
    height: 600px;
  }
  @media (max-width:767px) {
    img {
      height: 100%;
    }
  }
}
