<div class="plagio-di-plagio" *ngIf="recorerBusqueda.length > 0 && mostrarResultados" (click)="perderFocusOcultarResulBusqueda()"></div>
<div class="container clase-contenedor-padre">
  <div class="buscador">

    <input type="text"
           class="form-control"
           id="validationDefaultUsername"
           [(ngModel)]="dataBuscador"
           (focusin)="mostrarResultados = true"
           (keyup)="showSearchResults()"
           (change)="buscadorProductos($event)"
           placeholder="Buscar aquí producto.........">
    <div class="input-group-prepend" (click)="showSearchResults()">
      <button
        mat-raised-button
        color="primary"
        class="input-group-text"
        (click)="ocultarInformacionBuscador()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

  </div>
  <div class="resultados" *ngIf="mostrarResultados">
    <div class="contenedor-informacion-absoluta" *ngIf="recorerBusqueda.length > 0">
      <div *ngFor="let item of recorerBusqueda" class="adjustar-productos">
        <div class="imagen-producto" (click)="listadoProductoTotal(item['category_id'])">
          <span class="producto">
            {{item['title'] + '  '}} (<span class="marca"> {{item['attributes'][0]['value_name']}}</span>)
             </span>
        </div>
      </div>
    </div>

  </div>

</div>
