

.clase-contenedor-padre {
  position: relative;

  .buscador {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      z-index: 1000;
      border-radius: .25rem 0 0 .25rem;
    }
  }
  .input-group-prepend {
    z-index: 1000;
    .input-group-text {
      border-radius: 0 .25rem .25rem 0;
      cursor: pointer;
      height: 38px;
      color: #424242;
      box-shadow: none;
      background: #DEDEDE 0% 0% no-repeat padding-box;
      opacity: 1;
    }

  }
  #validationDefaultUsername {
    background: #EEEEEE 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .resultados {
    overflow: auto;

    @media (max-width: 767px) {
      width: calc(100% - 15px);

    }

    //
    width: calc(100% - 24px);
    max-height: calc(100vh - 100% - 24px);
    position: absolute;
    background-color: white;
    top: calc(100% - 6px);
    padding: 0 12px;
    z-index: 1000;
  }

  .form-control:focus {
    color: #424242;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: unset;
  }
}


.input-group {
  margin-top: 20px;
}

.imagen-producto {
  cursor: pointer;

}
.adjustar-productos:hover {
  background-color: #eeeeee;
}


.imagen-producto {
  display: flex;
  color: #424242;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;

  .producto {
    font-weight: normal;
    font-size: 0.8em;

    .marca {
      font-weight: 500 !important;
    }
  }


}

.adjustar-productos {
  padding: 6px;
  border-bottom: 1px solid #eeeeee;
}


.adjustar-productos:last-child {
  border-bottom: none !important;
}


.plagio-di-plagio {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

